.article-page p {
    font-size: 1.2rem;
}

.author-container {
    color: #27374c;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.author-container > * {
    margin: 5px;
}

.profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.article-image {
    min-height: 150px;
    max-height: 450px;
    min-width: 150px;
    max-width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px 10px 0 0; 
}

.body {
    white-space: pre-line;
}
