.article-page {
    padding: 30px 0 0 0;
}

.article-page p {
    font-size: 1.2rem;
}

.author-container {
    color: #27374c;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.author-container > * {
    margin: 5px;
}

.profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.article-image {
    width: 100%;
    height: 50%px;
    border-radius: 10px 10px 0 0; 
}

.body {
    white-space: pre-line;
}
