.author-container {
    color: #27374c;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-container > * {
    margin: 5px;
}

.profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.article-image {
    width: 500px;
    height: 200px;
}