.login-section {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}


.login-form .name-input {
    justify-content: center;
    
}

.login-form label, .login-form input {
    font-size: 20px;
}

.login-section > div {
    text-align: left;
}