.edit-profile-section {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.edit-profile-form {
    text-align: center;
    padding: 20px;
}

.edit-profile-form label {
    font-size: 1.5rem;
}

.edit-profile-form div {
    margin: 5px;
    text-align: left;
    align-items: center;
}

.edit-profile-form > div > input[type=file] {
    display: flex;
    align-items: center;
}

.edit-profile-form input {
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
}

.edit-profile-form textarea {
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
}