main {
  max-width: 840px;
  margin: 0 auto;
  padding: 40px 20px;
}

main > section {
  text-align: left;
  border-radius: 2px;
  /* background-color: #f9feff; */
  background-color: #fdfdfd;
  box-shadow: 4px 4px 10px rgb(169, 169, 169);
  padding: 20px 40px;
}