.main-page-articles {
    text-align: left;
    padding: 20px 40px;
    border-radius: 2px;
    /* background-color: #f9feff; */
    background-color: #fdfdfd;
    box-shadow: 4px 4px 10px rgb(169, 169, 169);
}