.main-page-articles article {
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.article-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.article-container > * {
    margin: 5px;
}

.author {
    color: #03a87c;
    font-size: 18px;
}

.author-profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.thumbnail {
    width: 25%;
    height: 25%;
    min-height: 100px;
    max-height: 420px;
    min-width: 100px;
    max-width: 500px;
    background-size: cover;
    background-position: 50% 50%;
}