.main-page-articles article {
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.article-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.article-container > * {
    margin: 5px;
}

.author {
    color: #03a87c;
    font-size: 18px;
}

h3, h4 {
    margin: 5px 0;
}

.author-profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.thumbnail {
    width: 400px;
    height: 225px;
    background-size: cover;
    background-position: 50% 50%;
}