.edit-article-section {
    padding: 20px 0;
}

.edit-article-section input[type="file"]{
    display: none;
}

.edit-article-section label {
    height: 60px;
    width: 200px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-container {
    display: flex;
    align-items: center;
}

.addphoto {
    height: 40px;
    width: 40px;
}

.file-name {
    font-size: 20px;
}

