header {
    display: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: #fdfdfd;
    box-shadow: 0px 2px 20px rgba(30, 65, 93, 0.85);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

h1 {
    font-family: 'Kaushan Script';
    font-size: 2.6rem;
    color: #27374c;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-container > * {
    margin: 0 5px;
}

.title-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
}

/* Registration / Log out Links */

.login {
    color: #287FB8;
    border: 2px solid #287FB8;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 3px;
    font-weight: bold;
}

.register {
    color: white;
    background-color: #287FB8;
    border: 2px solid #287FB8;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: bold;
}

.logout {
    color: white;
    background-color: #287FB8;
    border: 2px solid #287FB8;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 20px;
}

.login:active {
    color: white;
    background-color: #287FB8;
}

.register:active {
    color: #287FB8;
    background-color: white;
    border: 2px solid #287FB8;
}

.logout:active {
    color: #287FB8;
    background-color: white;
    border: 2px solid #287FB8;
}

.nav-link > div {
    color: #27374c;

}

.post-text {
    position: relative;
    top: 11.4px;
    right: 2.3px;
}

/* Nav Icons  */
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin: 0 10px;
}

.world {
    height: 58px;
    width: 58px;
}

.notepad {
    height: 36px;
    width: 36px;
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.bookmark {
    height: 48px;
    width: 52px;
}

/* Media Queries */


@media (max-width: 1000px) {
    .nav-link {
        display: none;
    }

    .logout {
        display: none;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }

    .logo {
        height: 40px;
        width: 40px;
    }

    .login {
        font-size: 12px; 
    }

    .register {
        font-size: 12px;
    }
}