.authors-list-item > article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.authors-list-item .thumbnail {
    height: 100px;
    width: 166px;
}

.list-item-container {
    margin-left: 20px;
}
