.authors-articles > article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.authors-articles .thumbnail {
    height: 100px;
    width: 166px;
}

.list-item-container {
    margin-left: 20px;
}

.article-buttons {
    display: flex;
    flex-direction: column;
}

.edit-delete {
    margin: 10px 0;
}

.trash, .pencil {
    height: 15px;
    width: 15px;
}
