.authors-articles {
    margin-top: 10px;
}

.authors-articles > article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
}

/* Thumbnail */
.authors-articles .thumbnail {
    height: 25%;
    width: 25%;
    max-height: 125px;
    max-width: 125px;
}

.center {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Edit and delete buttons */

.article-buttons {
    display: flex;
    flex-direction: column;
}

.edit-delete {
    margin: 10px 0;
}

.trash, .pencil {
    height: 15px;
    width: 15px;
}

@media (max-width: 425px) {
    .authors-articles > article {
        display: block;
    }

    .center {
        margin: 0;
    }
}
