body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #27374c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  margin: 0px;
  color: #27374c;
}

h3, h4 {
  margin: 5px 0;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #03a87c;
}

input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px 10px;
}

textarea {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px 10px;
}

label {
  text-align: left;
  padding: 2px 5px;
  margin-bottom: 3px;
}

button {
  color: white;
  background-color: #287FB8;
  border: 2px solid #287FB8;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 3px;
  font-weight: bold;
}

.submit {
  margin-top: 10px;
  padding: 6px 20px;
}

.article-buttons button {
  background-color: white;
  border: none;
}

.article-buttons button img {
  height: 15px;
  width: 15px;
}

.date {
  color: #27374c;
}

.hidden {
  display: none;
}