body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #27374c;
  background: url("https://travelog-files.s3-us-west-1.amazonaws.com/have-cameras-will-travel.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(44, 67, 74, 0.7);
  background-blend-mode: darken;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  margin: 0px;
  color: #27374c;
  font-family: 'PT Serif';
}

h3, h4 {
  margin: 5px 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #03a87c;
}

input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px 10px;
}

textarea {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px 10px;
}

label {
  text-align: left;
  padding: 2px 5px;
  margin-bottom: 3px;
}

button {
  color: white;
  background-color: #287FB8;
  border: 2px solid #287FB8;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 3px;
  font-weight: bold;
}

.submit {
  margin-top: 10px;
  padding: 6px 20px;
}

.article-buttons button {
  background-color: white;
  border: none;
}

.article-buttons button img {
  height: 15px;
  width: 15px;
}

.date {
  color: #27374c;
}

.form-button {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Loader Aninimation */
.loader {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  font-size: 75px;
}

.spinner {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 15px solid rgba(145, 216, 189, 0.4);
  border-top: 15px solid #a2deb7;
  animation: spin 2s infinite;
}

@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.4rem;
  }
  
  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 16px;
  }
}