.sign-up-section {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.sign-up-form label, .sign-up-form input {
    font-size: 20px;
}

/* First and Last Name */
.name-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name-input {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.password-box {
    display: block;
    margin: 10px;
}

.sign-up-form button:active {
    transform: translateY(2px);
}

@media (max-width: 500px) {
    .name-input label, .name-input input {
        font-size: 14px;
    }

    .password-box label, .password-box input {
        font-size: 14px;
    }
}