.sign-up-section {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.sign-up-form label, .sign-up-form input {
    font-size: 20px;
}

/* First and Last Name */

.name-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name-input {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.password-box {
    display: block;
    margin: 10px;
}

/* Button */
/* .sign-up-form button {
    color: white;
    background-color: #287FB8;
    border: 2px solid #287FB8;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: bold;
} */

.sign-up-form button:active {
    transform: translateY(2px);
}